@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  background-color: #0e121f;
}

.containerMaster {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #1a2133;
  height: 100%;
  width: 430px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./fundo.png");
  padding: 20px;
  position: relative;
}

.info h1 {
  text-align: center;
  color: #ff7f32;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  padding-top: 10px;
  z-index: 1;
}

.info img {
  height: 130px;
  width: 130px;
  z-index: 1;
}

.info::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
}

.paragrafo {
  margin: 25px;
}

.paragrafo p {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  background-color: #090e1a67;
  padding: 20px;
  border-radius: 20px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 30px;
}

.btns a svg {
  height: 32px;
  width: 32px;
  color: #fff;
}

.github-btn {
  background-color: #6e6e6e1f;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.github-btn:hover svg {
  color: #c2c2c2;
  transition: all 0.4s;
}

.github-btn:hover {
  border: 1px solid #c2c2c26e;
}

.linkedin-btn {
  background-color: #3068e01e;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.linkedin-btn:hover svg {
  color: #3068e0;
  transition: all 0.4s;
}

.linkedin-btn:hover {
  border: 1px solid #3068e06e;
}

.site-btn {
  background-color: #ff9b041a;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.site-btn:hover svg {
  color: #ff9b04;
  transition: all 0.4s;
}

.site-btn:hover {
  border: 1px solid #ff9b046e;
}

.contato-btn {
  background-color: #4feb571c;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.contato-btn:hover svg {
  color: #4feb57;
  transition: all 0.4s;
}

.contato-btn:hover {
  border: 1px solid #4feb576e;
}

.footer {
  padding: 15px;
}

.footer p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #fff;
}
